// 颜色
$color-fff: #fff;
$color-000: #000000;

$color-topBar-bg: #f5f4f4;
$color-topBar-text: #d1ac6f;

$color-activeNav-border: #f4d684;
$color-mainNav-text: #d8b374;

$color-show-text: #b5925a;
$color-show-num: #fae9bd;

$color-news-nav: #989386;
$color-active-nav: #806e4f;
$color-news-border: #9c8865;
$color-news-slide: #d9b780;
$color-news-txt: #412916;
$color-news-more: #b79150;

$color-accordion-bg: #8b764c;

$color-list-border: #c1c1c1;
$color-figure-hover: #f4f4f4;
$color-txt-border: #ffdcab;
$color-txt-title: #1f180c;
$color-txt-desc: #3f372a;
$color-news-hover: #808080;
$color-detail-txt: #3f372a;

$color-pop-appoint-bg: #510702;
$color-pop-appoint-rgba: rgba(81, 7, 2, 0.9);
$color-pop-system-rgba: rgba(171, 10, 3, 0.18);
$color-pop-system-active: #ab0a03;
$color-pop-yzm-hover: #e60b02;
