.icon-accordion-border {
    display: inline-block;
    background-image: url(../img/../img/sprite.png);
    background-position: 0px 0px;
    width: 1199px;
    height: 429px;
}
.icon-appointment-btn-over {
    display: inline-block;
    background-image: url(../img/../img/sprite.png);
    background-position: -1209px 0px;
    width: 341px;
    height: 101px;
}
.icon-appointment-btn {
    display: inline-block;
    background-image: url(../img/../img/sprite.png);
    background-position: -537px -757px;
    width: 341px;
    height: 101px;
}
.icon-fuli-btn {
    display: inline-block;
    background-image: url(../img/../img/sprite.png);
    background-position: -1209px -222px;
    width: 335px;
    height: 95px;
}
.icon-fuli-dc {
    display: inline-block;
    background-image: url(../img/../img/sprite.png);
    background-position: -1459px -412px;
    width: 38px;
    height: 21px;
}
.icon-game-title {
    display: inline-block;
    background-image: url(../img/../img/sprite.png);
    background-position: 0px -546px;
    width: 773px;
    height: 96px;
}
.icon-index-news-line {
    display: inline-block;
    background-image: url(../img/../img/sprite.png);
    background-position: -1209px -689px;
    width: 21px;
    height: 110px;
}
.icon-list-news-line {
    display: inline-block;
    background-image: url(../img/../img/sprite.png);
    background-position: -1339px -412px;
    width: 110px;
    height: 22px;
}
.icon-list-news-title {
    display: inline-block;
    background-image: url(../img/../img/sprite.png);
    background-position: 0px -439px;
    width: 773px;
    height: 97px;
}
.icon-logo-footer {
    display: inline-block;
    background-image: url(../img/../img/sprite.png);
    background-position: -1339px -327px;
    width: 188px;
    height: 75px;
}
.icon-logo-header {
    display: inline-block;
    background-image: url(../img/../img/sprite.png);
    background-position: -1327px -585px;
    width: 136px;
    height: 55px;
}
.icon-nav-qq {
    display: inline-block;
    background-image: url(../img/../img/sprite.png);
    background-position: -1240px -689px;
    width: 40px;
    height: 42px;
}
.icon-nav-tb {
    display: inline-block;
    background-image: url(../img/../img/sprite.png);
    background-position: -1473px -585px;
    width: 40px;
    height: 42px;
}
.icon-nav-wb {
    display: inline-block;
    background-image: url(../img/../img/sprite.png);
    background-position: -1508px -524px;
    width: 40px;
    height: 42px;
}
.icon-nav-wx {
    display: inline-block;
    background-image: url(../img/../img/sprite.png);
    background-position: -1508px -463px;
    width: 40px;
    height: 42px;
}
.icon-news-left-arrow {
    display: inline-block;
    background-image: url(../img/../img/sprite.png);
    background-position: -1449px -524px;
    width: 49px;
    height: 49px;
}
.icon-news-list-bg1 {
    display: inline-block;
    background-image: url(../img/../img/sprite.png);
    background-position: -538px -1121px;
    width: 528px;
    height: 33px;
}
.icon-news-list-bg2 {
    display: inline-block;
    background-image: url(../img/../img/sprite.png);
    background-position: 0px -1121px;
    width: 528px;
    height: 33px;
}
.icon-news-list-num {
    display: inline-block;
    background-image: url(../img/../img/sprite.png);
    background-position: -1354px -650px;
    width: 18px;
    height: 18px;
}
.icon-news-more {
    display: inline-block;
    background-image: url(../img/../img/sprite.png);
    background-position: -1537px -327px;
    width: 12px;
    height: 12px;
}
.icon-news-right-arrow {
    display: inline-block;
    background-image: url(../img/../img/sprite.png);
    background-position: -1449px -463px;
    width: 49px;
    height: 49px;
}
.icon-news-title {
    display: inline-block;
    background-image: url(../img/../img/sprite.png);
    background-position: 0px -757px;
    width: 527px;
    height: 103px;
}
.icon-part-01 {
    display: inline-block;
    background-image: url(../img/../img/sprite.png);
    background-position: -1209px -524px;
    width: 230px;
    height: 51px;
}
.icon-part-02 {
    display: inline-block;
    background-image: url(../img/../img/sprite.png);
    background-position: -1209px -463px;
    width: 230px;
    height: 51px;
}
.icon-pop-android {
    display: inline-block;
    background-image: url(../img/../img/sprite.png);
    background-position: -1507px -412px;
    width: 19px;
    height: 21px;
}
.icon-pop-appoint-btn {
    display: inline-block;
    background-image: url(../img/../img/sprite.png);
    background-position: -1209px -111px;
    width: 341px;
    height: 101px;
}
.icon-pop-appoint-title {
    display: inline-block;
    background-image: url(../img/../img/sprite.png);
    background-position: -783px -439px;
    width: 397px;
    height: 62px;
}
.icon-pop-close {
    display: inline-block;
    background-image: url(../img/../img/sprite.png);
    background-position: -1523px -585px;
    width: 26px;
    height: 28px;
}
.icon-pop-fuli-1 {
    display: inline-block;
    background-image: url(../img/../img/sprite.png);
    background-position: 0px -870px;
    width: 174px;
    height: 241px;
}
.icon-pop-fuli-2 {
    display: inline-block;
    background-image: url(../img/../img/sprite.png);
    background-position: -552px -870px;
    width: 174px;
    height: 241px;
}
.icon-pop-fuli-3 {
    display: inline-block;
    background-image: url(../img/../img/sprite.png);
    background-position: -368px -870px;
    width: 174px;
    height: 241px;
}
.icon-pop-fuli-4 {
    display: inline-block;
    background-image: url(../img/../img/sprite.png);
    background-position: -920px -870px;
    width: 174px;
    height: 241px;
}
.icon-pop-fuli-5 {
    display: inline-block;
    background-image: url(../img/../img/sprite.png);
    background-position: -736px -870px;
    width: 174px;
    height: 241px;
}
.icon-pop-fuli-6 {
    display: inline-block;
    background-image: url(../img/../img/sprite.png);
    background-position: -184px -870px;
    width: 174px;
    height: 241px;
}
.icon-pop-fuli-title {
    display: inline-block;
    background-image: url(../img/../img/sprite.png);
    background-position: 0px -652px;
    width: 773px;
    height: 95px;
}
.icon-pop-ios {
    display: inline-block;
    background-image: url(../img/../img/sprite.png);
    background-position: -1327px -650px;
    width: 17px;
    height: 21px;
}
.icon-qrcode-bg {
    display: inline-block;
    background-image: url(../img/../img/sprite.png);
    background-position: -1209px -327px;
    width: 120px;
    height: 126px;
}
.icon-video-btn {
    display: inline-block;
    background-image: url(../img/../img/sprite.png);
    background-position: -1209px -585px;
    width: 108px;
    height: 94px;
}
